mastr/EinheitenSolar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenSolar">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EinheitSolar" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EinheitSolar">
    <xs:complexType>
      <xs:all>
        <xs:element
          name="EinheitMastrNummer"
          type="xs:string"
          />
        <xs:element
          name="DatumLetzteAktualisierung"
          type="xs:dateTime"
          />
        <xs:element
          name="LokationMaStRNummer"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="NetzbetreiberpruefungStatus"
          type="xs:nonNegativeInteger"
          />
        <xs:element
          name="NetzbetreiberpruefungDatum"
          type="xs:date"
          minOccurs="0"/>
        <xs:element
          name="AnlagenbetreiberMastrNummer"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Land"
          type="xs:nonNegativeInteger"
          />
        <xs:element
          name="Bundesland"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="Landkreis"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Gemeinde"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Gemeindeschluessel"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Postleitzahl"
          type="xs:string"
          />
        <xs:element
          name="Gemarkung"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="FlurFlurstuecknummern"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Strasse"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="StrasseNichtGefunden"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="Hausnummer"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Hausnummer_nv"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="HausnummerNichtGefunden"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Adresszusatz"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Ort"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Laengengrad"
          type="xs:decimal"
          minOccurs="0"/>
        <xs:element
          name="Breitengrad"
          type="xs:decimal"
          minOccurs="0"/>
        <xs:element
          name="Registrierungsdatum"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="GeplantesInbetriebnahmedatum"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Inbetriebnahmedatum"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="DatumEndgueltigeStilllegung"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="DatumBeginnVoruebergehendeStilllegung"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="DatumWiederaufnahmeBetrieb"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="EinheitSystemstatus"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="EinheitBetriebsstatus"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="BestandsanlageMastrNummer"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="NichtVorhandenInMigriertenEinheiten"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="AltAnlagenbentreiberMastrNummer"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="DatumDesBetreiberwechsels"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="DatumRegistrierungDesBetreiberwechsels"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="NameStromerzeugungseinheit"
          type="xs:string"
          />
        <xs:element
          name="Weic"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Weic_nv"
          type="xs:boolean"
          />
        <xs:element
          name="WeicDisplayName"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Kraftwerksnummer"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="Kraftwerksnummer_nv"
          type="xs:boolean"
          />
        <xs:element
          name="Energietraeger"
          type="xs:nonNegativeInteger"
          />
        <xs:element
          name="Bruttoleistung"
          type="xs:decimal"
          />
        <xs:element
          name="Nettonennleistung"
          type="xs:decimal"
          />
        <xs:element
          name="AnschlussAnHoechstOderHochSpannung"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="Schwarzstartfaehigkeit"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="Inselbetriebsfaehigkeit"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="Einsatzverantwortlicher"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="FernsteuerbarkeitNb"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="FernsteuerbarkeitDv"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="FernsteuerbarkeitDr"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="Einspeisungsart"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="PraequalifiziertFuerRegelenergie"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="GenMastrNummer"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="ZugeordneteWirkleistungWechselrichter"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="GemeinsamerWechselrichterMitSpeicher"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="AnzahlModule"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="Lage"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="Leistungsbegrenzung"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="EinheitlicheAusrichtungUndNeigungswinkel"
          type="xs:boolean"
          minOccurs="0"/>
        <xs:element
          name="Hauptausrichtung"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="HauptausrichtungNeigungswinkel"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="Nebenausrichtung"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="NebenausrichtungNeigungswinkel"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="InAnspruchGenommeneFlaeche"
          type="xs:decimal"
          minOccurs="0"/>
        <xs:element
          name="ArtDerFlaecheIds"
          type="xs:string"
          minOccurs="0"/>
        <xs:element
          name="InAnspruchGenommeneAckerflaeche"
          type="xs:decimal"
          minOccurs="0"/>
        <xs:element
          name="Nutzungsbereich"
          type="xs:nonNegativeInteger"
          minOccurs="0"/>
        <xs:element
          name="EegMaStRNummer"
          type="xs:string"
          minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
