mastr/Marktakteure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Marktakteure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Marktakteur" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Marktakteur">
    <!--
      Created using [1] as a guide. Discrepancies are marked with comments.
      [1] https://web.archive.org/web/20210918184738/https://www.marktstammdatenregister.de/MaStRHilfe/files/gesamtdatenexport/Dokumentation%20MaStR%20Gesamtdatenexport.pdf
    -->
    <xs:complexType>
      <xs:all>
        <!-- <xs:element type="xs:nonNegativeInteger" name="Id" minOccurs="0"/> -->
        <xs:element type="xs:string" name="MastrNummer"/>
        <xs:element type="xs:dateTime" name="DatumLetzeAktualisierung" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="Personenart"/>
        <!-- <xs:element type="xs:nonNegativeInteger" name="MarktakteurAnrede" minOccurs="0"/> --> <!-- Listed in [1] but never present -->
        <!-- <xs:element type="xs:string" name="MarktakteurTitel" minOccurs="0"/> --> <!-- Listed in [1] but never present -->
        <xs:element type="xs:string" name="MarktakteurVorname" minOccurs="0"/>
        <xs:element type="xs:string" name="MarktakteurNachname" minOccurs="0"/>
        <xs:element type="xs:string" name="Firmenname" minOccurs="0"/>
        <xs:element type="xs:nonNegativeInteger" name="Marktfunktion"/>
        <xs:element type="xs:nonNegativeInteger" name="Rechtsform" minOccurs="0"/>
        <xs:element type="xs:string" name="SonstigeRechtsform" minOccurs="0"/>
        <xs:element type="xs:string" name="Marktrollen" minOccurs="0"/>
        <!-- <xs:element type="xs:string" name="MarktakteursVertreter" minOccurs="0"/> --> <!-- Mandatory according to [1] but never present -->
        <xs:element type="xs:nonNegativeInteger" name="Land" minOccurs="0"/>
        <xs:element type="xs:string" name="Region" minOccurs="0"/>
        <xs:element type="xs:string" name="Strasse" minOccurs="0"/>
        <xs:element type="xs:string" name="Hausnummer" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="Hausnummer_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="Adresszusatz" minOccurs="0"/>
        <xs:element type="xs:string" name="Postleitzahl" minOccurs="0"/>
        <xs:element type="xs:string" name="Ort" minOccurs="0"/>
        <xs:element type="xs:nonNegativeInteger" name="Bundesland" minOccurs="0"/>
        <xs:element type="xs:string" name="Netz" minOccurs="0"/>
        <xs:element type="xs:string" name="Nuts2" minOccurs="0"/>
        <xs:element type="xs:string" name="Email" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="Telefon" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="Fax" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="Fax_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="Webseite" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="Webseite_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:nonNegativeInteger" name="Registergericht" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="Registergericht_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="RegistergerichtAusland" minOccurs="0"/>
        <xs:element type="xs:boolean" name="RegistergerichtAusland_nv" minOccurs="0"/>
        <xs:element type="xs:string" name="Registernummer" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="Registernummer_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="RegisternummerAusland" minOccurs="0"/>
        <xs:element type="xs:boolean" name="RegisternummerAusland_nv" minOccurs="0"/>
        <xs:element type="xs:date" name="Taetigkeitsbeginn" minOccurs="0"/>
        <xs:element type="xs:string" name="AcerCode" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="AcerCode_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="Umsatzsteueridentifikationsnummer" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="Umsatzsteueridentifikationsnummer_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:date" name="Taetigkeitsende" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="Taetigkeitsende_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:string" name="BundesnetzagenturBetriebsnummer" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:boolean" name="BundesnetzagenturBetriebsnummer_nv" minOccurs="0"/> <!-- Mandatory according to [1] but not always present -->
        <xs:element type="xs:nonNegativeInteger" name="LandAnZustelladresse" minOccurs="0"/>
        <xs:element type="xs:string" name="PostleitzahlAnZustelladresse" minOccurs="0"/>
        <xs:element type="xs:string" name="OrtAnZustelladresse" minOccurs="0"/>
        <xs:element type="xs:string" name="StrasseAnZustelladresse" minOccurs="0"/>
        <xs:element type="xs:string" name="HausnummerAnZustelladresse" minOccurs="0"/>
        <xs:element type="xs:boolean" name="HausnummerAnZustelladresse_nv" minOccurs="0"/>
        <xs:element type="xs:string" name="AdresszusatzAnZustelladresse" minOccurs="0"/>
        <xs:element type="xs:boolean" name="Kmu" minOccurs="0"/>
        <xs:element type="xs:string" name="TelefonnummerVMav" minOccurs="0"/>
        <xs:element type="xs:string" name="EmailVMav" minOccurs="0"/>
        <xs:element type="xs:dateTime" name="RegistrierungsdatumMarktakteur" minOccurs="0"/>
        <xs:element type="xs:nonNegativeInteger" name="HauptwirtdschaftszweigAbteilung" minOccurs="0"/>
        <xs:element type="xs:nonNegativeInteger" name="HauptwirtdschaftszweigGruppe" minOccurs="0"/>
        <xs:element type="xs:nonNegativeInteger" name="HauptwirtdschaftszweigAbschnitt" minOccurs="0"/>
        <xs:element type="xs:boolean" name="Direktvermarktungsunternehmen" minOccurs="0"/>
        <xs:element type="xs:boolean" name="BelieferungVonLetztverbrauchernStrom" minOccurs="0"/>
        <xs:element type="xs:boolean" name="BelieferungHaushaltskundenStrom" minOccurs="0"/>
        <xs:element type="xs:boolean" name="Gasgrosshaendler" minOccurs="0"/>
        <xs:element type="xs:boolean" name="Stromgrosshaendler" minOccurs="0"/>
        <xs:element type="xs:boolean" name="BelieferungVonLetztverbrauchernGas" minOccurs="0"/>
        <xs:element type="xs:boolean" name="BelieferungHaushaltskundenGas" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
